.texto-menor{
    font-size: .8rem;
}

.preferencias-conteudo{
    width: 20%;
}

.verde-limao{
    color: #DAFF01;
}

.botao-lilas{
    background-color:#9353FF;
    border: none;
}

.botao-lilas:hover{
    background-color: #b696ec;
}